@page
@model EnuguEdu.Web.Areas.Secured.Pages.Categories.Cat.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Category1</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Category1.Title" class="control-label"></label>
                <input asp-for="Category1.Title" class="form-control" />
                <span asp-validation-for="Category1.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category1.Description" class="control-label"></label>
                <input asp-for="Category1.Description" class="form-control" />
                <span asp-validation-for="Category1.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category1.Address" class="control-label"></label>
                <input asp-for="Category1.Address" class="form-control" />
                <span asp-validation-for="Category1.Address" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Category1.ShowAddress" /> @Html.DisplayNameFor(model => model.Category1.ShowAddress)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Category1.Email" class="control-label"></label>
                <input asp-for="Category1.Email" class="form-control" />
                <span asp-validation-for="Category1.Email" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Category1.ShowEmail" /> @Html.DisplayNameFor(model => model.Category1.ShowEmail)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Category1.PhoneNumbers" class="control-label"></label>
                <input asp-for="Category1.PhoneNumbers" class="form-control" />
                <span asp-validation-for="Category1.PhoneNumbers" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Category1.ShowPhoneNumbers" /> @Html.DisplayNameFor(model => model.Category1.ShowPhoneNumbers)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Category1.Website" class="control-label"></label>
                <input asp-for="Category1.Website" class="form-control" />
                <span asp-validation-for="Category1.Website" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Category1.ShowWebsite" /> @Html.DisplayNameFor(model => model.Category1.ShowWebsite)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Category1.Code" class="control-label"></label>
                <input asp-for="Category1.Code" class="form-control" />
                <span asp-validation-for="Category1.Code" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Category1.ShowCode" /> @Html.DisplayNameFor(model => model.Category1.ShowCode)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
