@page
@model EnuguEdu.Web.Areas.Secured.Pages.Categories.Cat.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Category1</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category1.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category1.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category1.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category1.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category1.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category1.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category1.ShowAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category1.ShowAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category1.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category1.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category1.ShowEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category1.ShowEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category1.PhoneNumbers)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category1.PhoneNumbers)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category1.ShowPhoneNumbers)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category1.ShowPhoneNumbers)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category1.Website)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category1.Website)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category1.ShowWebsite)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category1.ShowWebsite)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category1.Code)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category1.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category1.ShowCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category1.ShowCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Category1.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
