@page
@model EnuguEdu.Web.Areas.Secured.Pages.Categories.Level2.DetailsModel

@{
    ViewData["Title"] = "Details";
}
<!-- /.card -->
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">
            <i class="fas fa-edit"></i>
            @Model.Category2.Title
        </h3>        <a asp-page="/Categories/Level1/Details" asp-route-id="@Model.Category2.Category1.Id" class="btn bg-gradient-warning btn-sm" style="float:right;">Back</a>

    </div>
    <div class="card-body">
        <p class="text-justify">@Model.Category2.Description</p>

    </div>
    <div class="card-body">
        <ul class="nav nav-tabs" id="custom-content-below-tab" role="tablist">
            <li class="nav-item">
                <a style="font-size: 23px;font-weight: 900;" class="nav-link active" id="custom-content-below-profile-tab" data-toggle="pill" href="#custom-content-below-profile" role="tab" aria-controls="custom-content-below-profile" aria-selected="false">Subsidiaries (@Model.Category2.Category3s.Count())</a>
            </li>
            <li class="nav-item">
                <a style="font-size: 23px;font-weight: 900;" class="nav-link " id="custom-content-below-home-tab" data-toggle="pill" href="#custom-content-below-home" role="tab" aria-controls="custom-content-below-home" aria-selected="true">Officials (@Model.AppointmentDtos.Count())</a>
            </li>
           

        </ul>
        <div class="tab-content" id="custom-content-below-tabContent">
            <div class="tab-pane fade" id="custom-content-below-home" role="tabpanel" aria-labelledby="custom-content-below-home-tab">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title" style="font-size: 23px;font-weight: 900;">
                            Officials
                        </h3>


                        <a asp-page="./NewOfficial" asp-route-id="@Model.Category2.Id" class="btn bg-gradient-warning btn-sm" style="float:right;">Add New</a>

                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>S/N</th>
                                        <th>
                                            Position
                                        </th>
                                        <th>
                                            Fullname
                                        </th>
                                        <th>Appointment</th>
                                        <th>Photo</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                @{
                                    int sn = 0;
                                }
                                <tbody>
                                    @foreach (var item in Model.AppointmentDtos)
                                    {
                                        <tr>
                                            <td>
                                                @{
                                                    sn++;
                                                }
                                                @sn
                                            </td>
                                            <td>

                                                @item.Position

                                            </td>
                                            <td>
                                                <a asp-page="/ProfilePage/ProfileAccount" asp-route-id="@item.UserId">
                                                    @item.Fullname
                                                </a>
                                            </td>
                                            <td>
                                                @item.StartOfAppointment - @item.EndOfAppointment
                                            </td>
                                            <td>
                                                <a>
                                                    <img src="@item.Photo" style="max-height:70px;" />
                                                </a>
                                            </td>
                                            <td>
                                                <a asp-page="./Update" asp-route-id="@item.Id" asp-route-mid="@Model.Category2.Id" class="float-left btn btn-warning btn-sm" style="margin-right:5px;"><i class="fa fa-pencil"></i></a>
                                                <form method="post" asp-page-handler="Delete">
                                                    <input type="hidden" name="id" value="@item.Id" />
                                                    <input type="hidden" name="mid" value="@Model.Category2.Id" />
                                                    <button class="btn btn-danger btn-sm" type="submit"><i class="fa fa-times"></i></button>

                                                </form>
                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>



            </div>
            <div class="tab-pane fade show active" id="custom-content-below-profile" role="tabpanel" aria-labelledby="custom-content-below-profile-tab">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title" style="font-size: 23px;font-weight: 900;">Subsidiaries</h3>


                        <a asp-page="./NewLevel" asp-route-id="@Model.Category2.Id" class="btn bg-gradient-warning btn-sm" style="float:right;">Add New</a>

                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>S/N</th>
                                        <th>
                                            Title
                                        </th>
                                        <th>
                                            Head
                                        </th>
                                        <th>Sub</th>
                                        <th>Color</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                @{
                                    int tsn = 0;
                                }
                                <tbody>
                                    @foreach (var item in Model.Category2.Category3s)
                                    {
                                        <tr>
                                            <td>
                                                @{
                                                    tsn++;
                                                }
                                                @tsn
                                            </td>
                                            <td>

                                                <a asp-page="/Categories/Level3/Details" asp-route-id="@item.Id" asp-area="Secured">
                                                    @Html.DisplayFor(modelItem => item.Title)

                                                </a>
                                            </td>
                                            <td>
                                                <a asp-page="./Details" asp-route-id="@item.Id">
                                                    @{
                                                        var subs = item.Appointments.FirstOrDefault();
                                                    }
                                                    @if (subs != null)
                                                    {
                                                        <a asp-page="/ProfilePage/ProfileAccount" asp-route-id="@subs.ProfileId">
                                                        <h4>@subs.Profile.Fullname</h4>
                                                        </a>
                                                        <h5>@subs.Position</h5>
                                                        <h6>@subs.StartOfAppointment.ToString("yyyy") - @subs.EndOfAppointment.ToString("yyyy")</h6>
                                                    }                        else
                                                        {
                                                            <h6>----/-----</h6>
                                                        }

                                                </a>
                                            </td>
                                            <td>
                                                @item.Category4s.Count()
                                            </td>
                                            <td>
                                                <span style="height:15px;width:15px;" class="btn @item.Color">.</span>
                                                <form method="post" asp-page-handler="RefreshColor">
                                                    <input type="hidden" name="id" value="@item.Id" />
                                                    <button class="btn btn-primary btn-xs" type="submit"><i class="fa fa-refresh"></i></button>

                                                </form>
                                            </td>
                                            <td>
                                                <a asp-page="./UpdateLevel" asp-route-id="@item.Category2Id" asp-route-mid="@item.Id" class="float-left btn btn-warning btn-sm" style="margin-right:5px;"><i class="fa fa-pencil"></i></a>
                                                <form method="post" asp-page-handler="DeleteLevel">
                                                    <input type="hidden" name="id" value="@item.Id" />
                                                    <input type="hidden" name="mid" value="@item.Category2Id" />
                                                    <button class="btn btn-danger btn-sm" type="submit"><i class="fa fa-times"></i></button>

                                                </form>
                                            </td>


                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
       

    </div>
    <!-- /.card -->
</div>
<!-- /.card -->
